.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}
.bg-primary,
.btn-primary {
  background-color: var(--main-color);
  color: #fff;
}
.bg-primary,
.btn-primary {
  background-color: var(--main-color);
  color: #fff;
}

.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: #333;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  overflow: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 3px 10px #333;
  padding: 20px;
  margin: 10px;
}

.btn:hover {
  transform: scale(0.98);
}

.text-c {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* text size */

.lead {
  font-size: 20px;
}
.xl {
  font-size: 46px;
}

/* margin */

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}
.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.py-3 {
  padding: 2rem 0;
}
.py-4 {
  padding: 3rem 0;
}
.py-5 {
  padding: 4rem 0;
}
