@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --main-color: #047aed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif, Helvetica;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300; /* Biar ga terlalu bold */
  line-height: 1.2; /* Biar ga terlalu tinggi */
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.navbar {
  background-color: var(--main-color);
  color: white;
  height: 70px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 30px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 4px;
}

.navbar a:hover {
  border-bottom: 2px solid #fff;
}

.showcase {
  border: 2px solid black;
  height: 400px;
  background-color: var(--main-color);
  color: white;
  position: relative;
}
