@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --main-color: #047aed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif, Helvetica;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300; /* Biar ga terlalu bold */
  line-height: 1.2; /* Biar ga terlalu tinggi */
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.navbar {
  background-color: var(--main-color);
  color: white;
  height: 70px; /* manual height for navbar asthetic */
}

.container {
  max-width: 1200px; /* If screen goes larger than 1200px, the content will be still inside the 1200px */
  margin: 0 auto; /* manual width with margin left and right auto so the all of the container content will be in center */
  overflow: auto; /* try to comment this and all flex classes, h1 padding will showed up and this is here to fix it */
  padding: 0 30px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar .flex {
  /* The content is h1 Cirrus Logo and ul navigation (Home Features Docs) */
  display: flex;
  justify-content: space-between; /* To seperate Logo and ul horizontally */
  align-items: center; /* To center the item vertically */
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 4px;
}

.navbar a:hover {
  border-bottom: 2px solid #fff;
}

.showcase {
  border: 2px solid black;
  height: 400px;
  background-color: var(--main-color);
  color: white;
  position: relative;
}
